@model JATS.Models.ViewModel.AssignTechnicianViewModel

<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h5>Assign Techninican for @Model.Ticket.Title</h5>
                <label>
                    <a class="text-primary"
                       asp-action="Details"
                       asp-controller="Projects"
                       asp-route-id="@Model.Ticket.ProjectId">@Model.Ticket.Project.Name</a>
                </label>
            </div>
            <div class="card-body">
                <form method="post"
                      asp-action="AssignTechnician"
                      asp-controller="Tickets">
                    <input asp-for="Ticket.Id"
                           hidden />
                    <p>Description: @Model.Ticket.Description</p>
                    <div class="form-group">
                        <label class="col-form-label">Select a technician</label>
                        <select required\
                                asp-items="@Model.Technicians"
                                asp-for="TechnicianId"
                                class="form-control">
                        </select>

                    </div>
                    <div class="form-group mt-3">
                        <input type="submit"
                               value="Assign"
                               class="btn-primary btn btn-rounded" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>