@page
@using JATS.Services.Interfaces
@model IndexModel
@inject UserManager<JTUser> UserManager;
@inject ICompanyInfoService CompanyInfoService

@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;

    JTUser currentUser = await UserManager.GetUserAsync(User);
    Company company = await CompanyInfoService.GetCompanyByIdAsync(currentUser.CompanyId);
    var allRoles = UserManager.GetRolesAsync(currentUser).Result;
    var roles = "";
    foreach (var role in allRoles)
    {
        roles += $"{role} ";
    }
}

@if (TempData["SuccessMessage"]?.ToString().Length > 2)
{
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
        <span class="alert-text text-light"><strong>Success!</strong> @TempData["SuccessMessage"]</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
@if (TempData["ErrorMessage"]?.ToString().Length > 2)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span class="alert-text"><strong>Danger!</strong> This is a danger alert—check it out!</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<div class="card mt-3 mt-md-0">
    <div class="card-header">
        <h5>@currentUser.FullName</h5>
        <div class="avatar avatar-xl position-relative cursor-pointer mt-2">
            @if (currentUser.AvatarData is null)
            {
                <a data-bs-toggle="dropdown"
               id="avatardropdown">
                    <img src="~/img/bruce-mars.jpg"
                     alt="@currentUser.FullName avatar"
                     class="w-100 border-radius-lg shadow-sm ">
                </a>
            }
            else
            {
                <a data-bs-toggle="dropdown"
               id="avatardropdown">
                    <img src="data:image/*;base64,@(Convert.ToBase64String(currentUser.AvatarData))"
                     alt="@currentUser.FullName avatar"
                     class="w-100 border-radius-lg shadow-sm">
                </a>
            }
            <div class="dropdown-menu shadow"
                 aria-labelledby="avatardropdown">
                <a class="dropdown-item"
                   data-bs-toggle="modal"
                   data-bs-target="#modal-form">
                    Update Avatar
                </a>
            </div>
        </div>
        <div class="modal fade" id="modal-form"
             tabindex="-1" role="dialog"
             aria-labelledby="modal-form"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm"
                 role="document">
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <div class="card card-plain">
                            <div class="card-header pb-0 text-left">
                                <h6 class="font-weight-bolder">Replace Avatar</h6>
                            </div>
                            <div class="card-body">
                                <form asp-action="UpdateAvatar"
                                      asp-controller="UserInfoUpdates"
                                      role="form text-left"
                                      method="post"
                                      enctype="multipart/form-data">
                                    @if (currentUser.AvatarData is null)
                                    {

                                        <img src="~/img/bruce-mars.jpg"
                                         id="imageFileData"
                                         alt="@currentUser.FullName avatar"
                                         class="w-100 border-radius-lg shadow-sm ">
                                    }
                                    else
                                    {
                                        <img src="data:image/*;base64,@(Convert.ToBase64String(currentUser.AvatarData))"
                                         id="imageFileData"
                                         alt="@currentUser.FullName avatar"
                                         class="w-100 border-radius-lg shadow-sm">
                                    }

                                    <div class="mt-4">
                                        <input type="hidden" asp-for="@(new JTUser().Id)" value="@currentUser.Id" />
                                        <input class="form-control form-control-sm"
                                               asp-for="@(new JTUser().AvatarFormFile)"
                                               id="formFileSm"
                                               type="file"
                                               accept=".png, .jpg, .jpeg, .gif"
                                               onchange="document.getElementById('imageFileData').src = window.URL.createObjectURL(this.files[0])">
                                        <div class="text-center">
                                            <button type="submit"
                                                    class="btn btn-round bg-gradient-primary btn-lg w-100 mt-4 mb-0">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body pt-0">
        @if (company.Name == "SpaceX1")
        {
            <p class="text-danger">Some info for the demo accounts cannot be modified</p>
        }
        <form id="profile-form" method="post"
              asp-controller="UserInfoUpdates"
              asp-action="UpdateProfileInfo">
            <div asp-validation-summary="ModelOnly"
                 class="text-danger">
            </div>
            <div class="row">
                <div class="col-6">
                    <label class="form-label">First Name</label>
                    <div class="input-group">
                        <input id="firstName"
                               name="FirstName"
                               class="form-control"
                               type="text" placeholder="John"
                               required="required"
                               value="@currentUser.FirstName">
                    </div>
                </div>
                <div class="col-6">
                    <label class="form-label">Last Name</label>
                    <div class="input-group">
                        <input id="lastName"
                               name="LastName"
                               class="form-control"
                               type="text"
                               placeholder="Doe"
                               required="required"
                               value="@currentUser.LastName">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label class="form-label mt-4">Your Role</label>
                    <div class="input-group">
                        <input class="form-control" type="text"
                               disabled
                               placeholder="@roles">
                    </div>
                </div>
                <div class="col-6">
                    <label class="form-label mt-4">Phone Number</label>
                    <div class="input-group">
                        <input asp-for="Input.PhoneNumber"
                               class="form-control"
                               name="PhoneNumber"
                               type='tel'
                               placeholder="214-577-8896"
                               value="@currentUser.PhoneNumber"
                               pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
                        <span asp-validation-for="Input.PhoneNumber"
                              class="text-danger">
                        </span>
                    </div>
                </div>
            </div>
            <button id="update-profile-button"
                    type="submit"
                    class="btn btn-primary btn-round col-3 mt-4">
                Save
            </button>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
