@using JATS.Models.Enums
@using JATS.Services.Interfaces
@using Microsoft.AspNetCore.Identity
@using JATS.Extensions
@model JATS.Models.Project
@inject UserManager<JTUser> UserManager
@inject IProjectService ProjectService
@inject ITicketHistoryService TicketHistoryService

@{
    ViewData["Title"] = "Details";
    JTUser user = await UserManager.GetUserAsync(User);
    JTUser projectManager = await ProjectService.GetProjectManagerAsync(Model.Id);
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                @*#### Project Details Section Start####*@
                <h3>@Model.Name</h3>

                <div class="row">
                    <div class="col-12 col-md-6 text-center">
                        <img class="border-radius-lg shadow-lg mx-auto"
                             style="height:100%; object-fit:cover;max-height:403px;width:100%;"
                             src="https://images.unsplash.com/photo-1616627781431-23b776aad6b2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1884&q=80"
                             alt="chair">
                    </div>
                    <div class="col-12 col-md-6 ps-4">
                        <h5>Project Details</h5>
                        @*## Badge Start ##*@
                        <div class="row ps-2">

                            @if (Model.Archived)
                            {
                                <span class="badge badge-danger col-3 mr-2">Archived</span>
                            }


                            @if (Model.EndDate > DateTime.Now
                            && DateTime.Now > Model.StartDate)
                            {
                                <span class="badge badge-success col-3 me-2">Active</span>
                            }
                            else
                            {
                                <span class="badge badge-info col-3 me-2">Completed</span>

                            }

                            @if (Model.ProjectPriority.Name == "Urgent")
                            {
                                <span class="badge badge-danger col-3">@Model.ProjectPriority.Name</span>

                            }
                            else if (Model.ProjectPriority.Name == "High")
                            {
                                <span class="badge badge-warning col-3">@Model.ProjectPriority.Name</span>

                            }
                            else
                            {
                                <span class="badge badge-secondary col-3">@Model.ProjectPriority.Name</span>

                            }
                        </div>
                        @*## Badge End ##*@

                        @*## Project Descriptions ##*@
                        <label class="mt-4">Description</label>
                        <p>
                            @Model.Description
                        </p>
                        <div class="row mt-4">
                            <div class="col-lg-4 mt-lg-0 mt-2">
                                <label>Start Date</label>
                                @Model.StartDate.ToString("MM/dd/yyyy")
                            </div>
                            <div class="col-lg-4 mt-lg-0 mt-2">
                                <label>End Date</label>
                                @Model.EndDate.ToString("MM/dd/yyyy")
                            </div>
                        </div>
                        <div class="row mt-4">
                            <h6>Project Manager</h6>
                            <div>
                                @if (projectManager is not null)
                                {
                                    <div class="d-flex">
                                        @if (projectManager.AvatarData is not null)
                                        {
                                            <img class="rounded-circle"
                                         style="width:50p;height:50px;"
                                         src="data:image/*;base64,@Convert.ToBase64String(projectManager.AvatarData)" />
                                        }
                                        else
                                        {
                                            <img class="rounded-circle"
                                         style="width:50p;height:50px;"
                                         src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" />

                                        }
                                        <div class="ms-3">
                                            <span>
                                                @projectManager.FullName
                                            </span>
                                            <div class="small">@projectManager.Email</div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="d-flex mb-2">
                                        <img class="rounded-circle me-2"
                                         style="width:40p;height:40px;"
                                         src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" />
                                        <h6>Not Assigned</h6>
                                    </div>
                                    @if (User.IsInRole(Roles.Admin.ToString()))
                                    {
                                        <a class="btn btn-xs btn-primary"
                                   asp-action="AssignPm"
                                   asp-controller="Projects"
                                   asp-route-id="@Model.Id">
                                            Assign Project Manager
                                        </a>
                                    }
                                }
                            </div>
                        </div>
                        @*## Project Descriptions End##*@
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@*#### Project Details End####*@

@*## Team Members and history start ##*@
<div class="row mt-4 ">
    <div class="col-12 col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div style="overflow-x:none;height:400px;">
                    @if (User.IsInRole(Roles.Admin.ToString())
                    || (user.Id == projectManager?.Id))
                    {
                        <a class="btn btn-xs ms-auto btn-primary col-12"
                       asp-action="AssignMembers"
                       asp-controller="Projects"
                       asp-route-id="@Model.Id">
                            Manage Team
                        </a>
                    }

                    <h6>Project Team Members</h6>
                    <ul class="list-unstyled mb-0">
                        @* Logic for avatars *@
                        @foreach (var member in (await ProjectService.GetAllProjectMembersExceptPMAsync(Model.Id)))
                        {
                            <li class="mt-2">
                                <a href="">
                                    <div class="d-flex align-items-center">
                                        @if (member.AvatarData is not null)
                                        {
                                            <img class=""
                                         style="width:40p;height:40px;"
                                         src="data:image/*;base64,@Convert.ToBase64String(member.AvatarData)" />
                                        }
                                        else
                                        {
                                            <img class="rounded-circle"
                                         style="width:40p;height:40px;"
                                         src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" />

                                        }
                                        <div class="ms-1">
                                            <span>@member.FirstName @member.LastName[0]</span>.
                                        </div>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="col-12 col-md-6 col-lg-3 mt-4 mt-md-0">
        <div class="card">
            <div class="card-body">
                <div style="overflow-x:none;height:400px;">
                    <h5>Project Stats</h5>
                    <h6>Project Members: @Model.Members.Count()</h6>
                    <h6>Active Tickets: @Model.Tickets.Where(t => t.Archived == false).Count()</h6>
                    <h6>Urgent Tickets: @Model.Tickets.Where(t => t.TicketPriority.Name == TicketPriorityEnum.Urgent.ToString()).Count()</h6>
                    <h6>InProgress Tickets: @Model.Tickets.Where(t => t.TicketStatus.Name == TicketStatusEnum.InProgress.ToString()).Count()</h6>
                    <h6>Resolved Tickets: @Model.Tickets.Where(t => t.TicketStatus.Name == TicketStatusEnum.Resolved.ToString()).Count()</h6>
                    <h6>Archived Tickets: @Model.Tickets.Where(t => t.Archived == true).Count()</h6>
                </div>
            </div>
        </div>

    </div>
    <div class="col-12 col-md-6 mt-sm-4 mt-4 mt-md-0">
        <div class="card">
            <div class="card-body">

                <div class="text-sm" style="overflow-y:auto;height:400px;">
                    <h6>Project Activities:</h6>
                    @* Project Activity loop *@
                    @foreach (var history in
                    await TicketHistoryService.GetProjectTicketsHistoriesAsync(Model.Id, user.CompanyId))
                    {
                        <div>
                            <span class="date">
                                @history.Created.ToString("MM dd, yyyy") - By: <a>@history.User.FullName</a>
                            </span>
                            <h6>@history.Description</h6>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>
@*## Team Members and history End ##*@


@*### Project Tickets Start ###*@
<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <h5 class="ms-3">Project Tickets</h5>
                <div class="table table-responsive">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    title
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    technician
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    status
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    priority
                                </th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                    action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ticket in Model.Tickets.Where(t => t.Archived == false))
                            {
                                <tr>
                                    <td>
                                        <a asp-action="Details"
                                       asp-controller="Tickets"
                                       asp-route-id="@ticket.Id">
                                            @ticket.Title
                                        </a>
                                    </td>
                                    <td>
                                        @if (ticket.TechnicianUserId != null)
                                        {
                                            @ticket.TechnicianUser?.FullName
                                        }
                                        else
                                        {
                                            if (User.IsInRole(nameof(Roles.Admin))
                                            || User.IsInRole(nameof(Roles.ProjectManager)))
                                            {
                                                <a asp-action="AssignTechnician"
                                       asp-controller="Tickets"
                                       asp-route-ticketId="@ticket.Id">
                                                    Assign Technician
                                                </a>
                                            }

                                        }
                                    </td>

                                    <td><span class="">@ticket.TicketStatus?.Name </span></td>
                                    <td><span class="">@ticket.TicketPriority?.Name </span></td>
                                    <td>
                                        <div class="align-middle">
                                            <button class="btn btn-link text-secondary mb-0"
                                                data-bs-toggle="dropdown">
                                                <i class="fa fa-ellipsis-v text-xs" aria-hidden="true"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-lg-start px-2 py-3"
                                            aria-labelledby="navbarDropdownMenuLink2"
                                            data-popper-placement="left-start">
                                                <li>
                                                    <a class="dropdown-item border-radius-md"
                                                   asp-controller="Tickets"
                                                   asp-action="Details"
                                                   asp-route-id="@ticket.Id">
                                                        Details
                                                    </a>
                                                </li>
                                                @if (User.IsInRole(nameof(Roles.Admin))
                                                || (await ProjectService.IsUserOnProjectAsync(user.Id, @Model.Id))
                                               || (await ProjectService.IsAssignedProjectManager(UserManager.GetUserId(User), Model.Id)))
                                                {

                                                    <li>
                                                        <a class="dropdown-item border-radius-md"
                                                   asp-controller="Tickets"
                                                   asp-action="Edit"
                                                   asp-route-id="@ticket.Id">
                                                            Edit
                                                        </a>
                                                    </li>

                                                    @if (User.IsInRole("Admin") || (projectManager?.Id == user.Id))
                                                    {
                                                        <li>
                                                            <a class="dropdown-item border-radius-md text-danger cursor-pointer"
                                                   data-bs-toggle="modal"
                                                   data-bs-target="#modal_@ticket.Id">
                                                                Archive
                                                            </a>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                            <div class="modal fade" id="modal_@ticket.Id"
                                             tabindex="-1" role="dialog" aria-labelledby="modal-default"
                                             aria-hidden="true">
                                                <div class="modal-dialog modal- modal-dialog-centered modal-"
                                                 role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h6 class="modal-title" id="modal-title-default">Confirmation</h6>
                                                            <button type="button" class="btn-close text-dark"
                                                                data-bs-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="text-center">
                                                                Are you sure you want to archive this ticket?
                                                            </div>
                                                            <div class="text-center">
                                                                @ticket.Title
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <form asp-action="ArchiveTicket" asp-controller="Tickets">
                                                                <input type="hidden"
                                                                   asp-for="@(new Ticket().Id)"
                                                                   value="@ticket.Id" />
                                                                <button type="submit"
                                                                    class="btn bg-gradient-danger">
                                                                    Archive
                                                                </button>
                                                            </form>
                                                            <button type="button" class="btn btn-link ml-auto"
                                                                data-bs-dismiss="modal">
                                                                Close
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@*### Project Tickets End ###*@
