@using JATS.Models.Enums;
@using Microsoft.AspNetCore.Identity
@model IEnumerable<JATS.Models.Project>
@inject JATS.Services.Interfaces.IProjectService ProjectService
@inject UserManager<JTUser> UserManager

@{
    ViewData["Title"] = "Unassigned Projects";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Archived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageFileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageFileData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileContentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectPriority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (User.IsInRole(Roles.Admin.ToString()) ||
           (await ProjectService.GetProjectManagerAsync(item.Id))?.Id == UserManager.GetUserId(User)
           )
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>


                    <td>
                        @if (item.ImageFileData != null)
                        {

                            <img class="img-fluid img-thumbnail"
                     style="width:100px;height:80px"
                     src="data:image/*;base64,@(Convert.ToBase64String(item.ImageFileData))" />
                        }

                    <td>
                            @Html.DisplayFor(modelItem => item.Company.Id)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.ProjectPriority.Id)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Archive" asp-route-id="@item.Id">Archive</a> |
                        <a class="btn btn-primary" asp-action="AssignPM" asp-route-id="@item.Id">Assign PM</a>

                    </td>
                </tr>
            }

            else
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>


                    <td>
                        @if (item.ImageFileData != null)
                        {

                            <img class="img-fluid img-thumbnail"
                     style="width:100px;height:80px"
                     src="data:image/*;base64,@(Convert.ToBase64String(item.ImageFileData))" />
                        }

                    <td>
                            @Html.DisplayFor(modelItem => item.Company.Id)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Archived)
                    </td>
                    <td>
                            @Html.DisplayFor(modelItem => item.ProjectPriority.Id)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
